<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
</head>
<h1>View Bookings</h1>
<body method="get" action="{% url 'viewAllBookings' %}">
    <table>
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Booking Info</th>
            </tr>
        </thead>
        {% for booking in bookings %}
        <tr>
            <td>{{booking.bookingID}}</td>
            <td>
                {{booking.tutorID}}<br>
                {{booking.interestID}}<br>
                {{booking.roomID}}<br>
                {{booking.slotID}}
            </td>
        </tr>
    </table>
    
</body>