<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<html>
  <head>
    <link rel="icon" href="/static/images/favicon.ico">
    <title>Tutor</title>
  </head>
  <body>
    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
       <div class="container-fluid">
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
         <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
         </div>
       </div>
      </nav>
    </header>

    <div class="container" style="padding-top:70px">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
